streamlit==1.38.0
duckdb==1.0.0
duckdb-engine==0.13.0
pandas==2.2.2
pyarrow==17.0.0
sqlalchemy==2.0.35
huggingface-hub==0.24.7
langchain==0.2.16
langchain-community==0.2.16
langchain-huggingface==0.0.3
